DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=tu_password_postgres
DB_NAME=selvaguide
DIALECT=postgres
PORT=9000
JWT_SECRET=cambia_este_secreto
UPLOAD_DIR=uploads
CLIENT_URL=http://localhost:5173